In [1]:
all_parts = spark.read.csv('gs://dataproc-staging-xxxxxxxxxxxxxxxxxxxxxx/notebooks/jupyter/CrimeDetection.csv/part-*.csv', header = True, inferSchema = True)

In [2]:
df_spark = all_parts
df_spark.show()

24/01/23 10:31:05 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+----------+------+---------------+-------------------+-------------------+-----------+--------+-------+--------------------+------------+-------------+-----------+-----------------+-----------------+------------+--------------+---------------+-------------+-------------------+-------------------+--------------+---------------+--------+-------+--------------------+----------+-----------+-----+
|          X|         Y|Index_|event_unique_id|     occurrencedate|       reporteddate|premisetype|ucr_code|ucr_ext|             offence|reportedyear|reportedmonth|reportedday|reporteddayofyear|reporteddayofweek|reportedhour|occurrenceyear|occurrencemonth|occurrenceday|occurrencedayofyear|occurrencedayofweek|occurrencehour|            MCI|Division|Hood_ID|       Neighbourhood|       Lat|       Long|  FID|
+-----------+----------+------+---------------+-------------------+-------------------+-----------+--------+-------+--------------------+------------+-------------+-----------+-----------------+-----------------+------------+--------------+---------------+-------------+-------------------+-------------------+--------------+---------------+--------+-------+--------------------+----------+-----------+-----+
|-79.4848251|43.6501579| 40705| GO-20151233655|2015-07-20 04:00:00|2015-07-20 04:00:00|      Other|    1430|    100|             Assault|        2015|         July|         20|              201|           Monday|           9|          2015|           July|           20|                201|             Monday|             9|        Assault|     D11|     89|Runnymede-Bloor W...|43.6501579|-79.4848251|40238|
|-79.5495377|43.7276535| 40304| GO-20143048630|2014-10-05 04:00:00|2014-10-05 04:00:00|      House|    1420|    110| Assault Bodily Harm|        2014|      October|          5|              278|           Sunday|          18|          2014|        October|            5|                278|             Sunday|            18|        Assault|     D23|      5|Elms-Old Rexdale (5)|43.7276535|-79.5495377|40239|
|-79.3867874|43.6702271| 40507|  GO-2015651989|2015-04-20 04:00:00|2015-04-20 04:00:00|      Other|    1430|    100|             Assault|        2015|        April|         20|              110|           Monday|           9|          2015|          April|           20|                110|             Monday|             8|        Assault|     D53|     98|Rosedale-Moore Pa...|43.6702271|-79.3867874|40240|
|-79.5495377|43.7276535| 40305| GO-20143048630|2014-10-05 04:00:00|2014-10-05 04:00:00|      House|    1420|    100| Assault With Weapon|        2014|      October|          5|              278|           Sunday|          18|          2014|        October|            5|                278|             Sunday|            18|        Assault|     D23|      5|Elms-Old Rexdale (5)|43.7276535|-79.5495377|40241|
|-79.3186798|43.6992722| 40508|  GO-2015656222|2015-04-20 04:00:00|2015-04-20 04:00:00|  Apartment|    1430|    100|             Assault|        2015|        April|         20|              110|           Monday|          22|          2015|          April|           20|                110|             Monday|            22|        Assault|     D54|     60|Woodbine-Lumsden ...|43.6992722|-79.3186798|40242|
|-79.3932953|43.7090759| 40509|  GO-2015657548|2015-04-20 04:00:00|2015-04-21 04:00:00|      House|    2120|    200|                 B&E|        2015|        April|         21|              111|          Tuesday|           7|          2015|          April|           20|                110|             Monday|            17|Break and Enter|     D53|    104|Mount Pleasant We...|43.7090759|-79.3932953|40243|
|-79.5495377|43.7276535| 40306| GO-20143048630|2014-10-05 04:00:00|2014-10-05 04:00:00|      House|    1420|    100| Assault With Weapon|        2014|      October|          5|              278|           Sunday|          18|          2014|        October|            5|                278|             Sunday|            18|        Assault|     D23|      5|Elms-Old Rexdale (5)|43.7276535|-79.5495377|40244|
|-79.4394989|43.6391106| 40706| GO-20151236030|2015-07-20 04:00:00|2015-07-20 04:00:00|  Apartment|    1430|    100|             Assault|        2015|         July|         20|              201|           Monday|          15|          2015|           July|           20|                201|             Monday|            15|        Assault|     D14|     85| South Parkdale (85)|43.6391106|-79.4394989|40245|
|-79.4310532|43.6767616| 40510|  GO-2015652959|2015-04-20 04:00:00|2015-04-20 04:00:00|    Outside|    1610|    200|   Robbery - Mugging|        2015|        April|         20|              110|           Monday|          12|          2015|          April|           20|                110|             Monday|            12|        Robbery|     D13|     94|       Wychwood (94)|43.6767616|-79.4310532|40246|
|-79.4406738| 43.727829| 40606|  GO-2015660134|2015-04-21 04:00:00|2015-04-21 04:00:00|    Outside|    1610|    220|     Robbery - Other|        2015|        April|         21|              111|          Tuesday|          14|          2015|          April|           21|                111|            Tuesday|            14|        Robbery|     D32|     32|Englemount-Lawren...| 43.727829|-79.4406738|40247|
|-79.2914886|43.6905098| 40808| GO-20151240533|2015-07-21 04:00:00|2015-07-21 04:00:00| Commercial|    2120|    200|                 B&E|        2015|         July|         21|              202|          Tuesday|           5|          2015|           July|           21|                202|            Tuesday|             5|Break and Enter|     D54|     61|  Taylor-Massey (61)|43.6905098|-79.2914886|40248|
|-79.2251663|43.7417946| 40206| GO-20151193582|2015-07-14 04:00:00|2015-07-14 04:00:00| Commercial|    1460|    100|Assault Peace Off...|        2015|         July|         14|              195|          Tuesday|          14|          2015|           July|           14|                195|            Tuesday|            13|        Assault|     D43|    139|Scarborough Villa...|43.7417946|-79.2251663|40249|
| -79.450325|43.7339363| 40105| GO-20151190542|2015-07-14 04:00:00|2015-07-14 04:00:00|    Outside|    1610|    180|  Robbery - Swarming|        2015|         July|         14|              195|          Tuesday|           1|          2015|           July|           14|                195|            Tuesday|             1|        Robbery|     D32|     33|   Clanton Park (33)|43.7339363| -79.450325|40250|
|-79.4711838|43.6522598| 40004| GO-20151474386|2015-08-27 04:00:00|2015-08-27 04:00:00|  Apartment|    2120|    200|                 B&E|        2015|       August|         27|              239|         Thursday|          13|          2015|         August|           27|                239|           Thursday|             0|Break and Enter|     D11|     88|High Park North (88)|43.6522598|-79.4711838|40251|
|-79.3820572|43.6683502| 40005| GO-20151475548|2015-08-27 04:00:00|2015-08-27 04:00:00|  Apartment|    2120|    200|                 B&E|        2015|       August|         27|              239|         Thursday|          13|          2015|         August|           27|                239|           Thursday|            12|Break and Enter|     D51|     75|Church-Yonge Corr...|43.6683502|-79.3820572|40252|
|-79.4317169|43.6640549| 40006| GO-20151476544|2015-08-27 04:00:00|2015-08-27 04:00:00|      House|    2120|    200|                 B&E|        2015|       August|         27|              239|         Thursday|          15|          2015|         August|           27|                239|           Thursday|            13|Break and Enter|     D14|     93|Dovercourt-Wallac...|43.6640549|-79.4317169|40253|
|-79.4052277|43.6569824| 40007| GO-20151473206|2015-08-27 04:00:00|2015-08-27 04:00:00|  Apartment|    1420|    100| Assault With Weapon|        2015|       August|         27|              239|         Thursday|           3|          2015|         August|           27|                239|           Thursday|             3|        Assault|     D14|     79|     University (79)|43.6569824|-79.4052277|40254|
|-79.3732529|43.6537323| 40008| GO-20151473163|2015-08-27 04:00:00|2015-08-27 04:00:00|    Outside|    1610|    100| Robbery With Weapon|        2015|       August|         27|              239|         Thursday|           3|          2015|         August|           27|                239|           Thursday|             3|        Robbery|     D51|     73|      Moss Park (73)|43.6537323|-79.3732529|40255|
|-79.3105011|43.7958641| 40009| GO-20151473366|2015-08-27 04:00:00|2015-08-27 04:00:00|      House|    2120|    200|                 B&E|        2015|       August|         27|              239|         Thursday|           5|          2015|         August|           27|                239|           Thursday|             3|Break and Enter|     D42|    117|    L'Amoreaux (117)|43.7958641|-79.3105011|40256|
|-79.5132217|43.7393913| 40010| GO-20151474026|2015-08-27 04:00:00|2015-08-27 04:00:00|  Apartment|    1430|    100|             Assault|        2015|       August|         27|              239|         Thursday|           8|          2015|         August|           27|                239|           Thursday|             8|        Assault|     D31|     25|Glenfield-Jane He...|43.7393913|-79.5132217|40257|
+-----------+----------+------+---------------+-------------------+-------------------+-----------+--------+-------+--------------------+------------+-------------+-----------+-----------------+-----------------+------------+--------------+---------------+-------------+-------------------+-------------------+--------------+---------------+--------+-------+--------------------+----------+-----------+-----+
only showing top 20 rows

In [3]:
# Convert PySpark DataFrame to Pandas DataFrame
df_pandas = df_spark.toPandas()

# Display the Pandas DataFrame
df_pandas.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,FID
0,-79.484825,43.650158,40705,GO-20151233655,2015-07-20 04:00:00,2015-07-20 04:00:00,Other,1430,100,Assault,...,201,Monday,9,Assault,D11,89,Runnymede-Bloor West Village (89),43.650158,-79.484825,40238
1,-79.549538,43.727654,40304,GO-20143048630,2014-10-05 04:00:00,2014-10-05 04:00:00,House,1420,110,Assault Bodily Harm,...,278,Sunday,18,Assault,D23,5,Elms-Old Rexdale (5),43.727654,-79.549538,40239
2,-79.386787,43.670227,40507,GO-2015651989,2015-04-20 04:00:00,2015-04-20 04:00:00,Other,1430,100,Assault,...,110,Monday,8,Assault,D53,98,Rosedale-Moore Park (98),43.670227,-79.386787,40240
3,-79.549538,43.727654,40305,GO-20143048630,2014-10-05 04:00:00,2014-10-05 04:00:00,House,1420,100,Assault With Weapon,...,278,Sunday,18,Assault,D23,5,Elms-Old Rexdale (5),43.727654,-79.549538,40241
4,-79.318680,43.699272,40508,GO-2015656222,2015-04-20 04:00:00,2015-04-20 04:00:00,Apartment,1430,100,Assault,...,110,Monday,22,Assault,D54,60,Woodbine-Lumsden (60),43.699272,-79.318680,40242

In [4]:
import psycopg2

# Replace these values with your actual connection details
host = 'xxxxxxxxxxxxxxx.region.redshift-serverless.amazonaws.com'
port = '5439' # Default port for AWS Redshift
database = 'yourdatabasename'
user = 'useronyourdatabase'

In [5]:
# Establish a connection to Redshift Serverless
try:
    connection = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password = 'xxxxxxxxxxx' # use other ways for secure it
    )
    print("Connected to Redshift Serverless successfully!")
except Exception as e:
    print(f"Error: Unable to connect to Redshift Serverless - {e}")

Connected to Redshift Serverless successfully!

In [6]:
df_pandas = df_spark.toPandas()
df_pandas.dtypes

X                             float64
Y                             float64
Index_                          int32
event_unique_id                object
occurrencedate         datetime64[ns]
reporteddate           datetime64[ns]
premisetype                    object
ucr_code                        int32
ucr_ext                         int32
offence                        object
reportedyear                    int32
reportedmonth                  object
reportedday                     int32
reporteddayofyear               int32
reporteddayofweek              object
reportedhour                    int32
occurrenceyear                  int32
occurrencemonth                object
occurrenceday                   int32
occurrencedayofyear             int32
occurrencedayofweek            object
occurrencehour                  int32
MCI                            object
Division                       object
Hood_ID                         int32
Neighbourhood                  object
Lat                           float64
Long                          float64
FID                             int32
dtype: object

In [11]:
# Create a cursor
cursor = connection.cursor()

schema_name = 'yourschema'
# Create a new table
table_name = 'crimedetection'
create_table_query = f'''
    CREATE TABLE {schema_name}.{table_name} (
        X DOUBLE PRECISION,
        Y DOUBLE PRECISION,
        Index_ INT,
        event_unique_id VARCHAR,
        occurrencedate TIMESTAMP,
        reporteddate TIMESTAMP,
        premisetype VARCHAR,
        ucr_code INT,
        ucr_ext INT,
        offence VARCHAR,
        reportedyear INT,
        reportedmonth VARCHAR,
        reportedday INT,
        reporteddayofyear INT,
        reporteddayofweek VARCHAR,
        reportedhour INT,
        occurrenceyear INT,
        occurrencemonth VARCHAR,
        occurrenceday INT,
        occurrencedayofyear INT,
        occurrencedayofweek VARCHAR,
        occurrencehour INT,
        MCI VARCHAR,
        Division VARCHAR,
        Hood_ID INT,
        Neighbourhood VARCHAR,
        Lat DOUBLE PRECISION,
        Long DOUBLE PRECISION,
        FID INT
    );
'''

try:
    cursor.execute(create_table_query)
    connection.commit() 
    print(f"Table '{table_name}' created successfully!")
except Exception as e:
    connection.rollback()
    print(f"Error: Unable to create the table - {e}")

Error: Unable to create the table - Relation "crimedetection" already exists

In [47]:
f"INSERT INTO {schema_name}.{table_name} ({', '.join(df_pandas.columns)}) VALUES ({', '.join(['%s']*len(df_pandas.columns))});"

'INSERT INTO bigschema.crimedetection (X, Y, Index_, event_unique_id, occurrencedate, reporteddate, premisetype, ucr_code, ucr_ext, offence, reportedyear, reportedmonth, reportedday, reporteddayofyear, reporteddayofweek, reportedhour, occurrenceyear, occurrencemonth, occurrenceday, occurrencedayofyear, occurrencedayofweek, occurrencehour, MCI, Division, Hood_ID, Neighbourhood, Lat, Long, FID) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

In [19]:
cursor = connection.cursor()

schema_name = 'yourschema'
table_name = 'crimedetection'
insert_data_query = f"INSERT INTO {schema_name}.{table_name} ({', '.join(df_pandas.columns)}) VALUES ({', '.join(['%s']*len(df_pandas.columns))});"

# Identify columns with integer types (int32 or int64)
int_columns = df_pandas.select_dtypes(include=['int32', 'int64']).columns

# Convert identified columns to float
df_pandas[int_columns] = df_pandas[int_columns].astype(float)

# Specify the number of rows to insert
rows_to_insert = 100

try:
    # Iterate through the first 100 rows and insert the data
    for index, row in df_pandas.head(rows_to_insert).iterrows():
        data_to_insert = tuple(row)
        cursor.execute(insert_data_query, data_to_insert)

    connection.commit()
    print(f"{rows_to_insert} rows inserted successfully!")
except Exception as insert_error:
    connection.rollback()
    print(f"Error: Unable to insert data - {insert_error}")

100 rows inserted successfully!